{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <title>Mails</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
</head>
<body>

<div class="container-fluid" style="padding-top:2%">


    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">
                    <span style="color: #00bbff">Total Votantes</span>
                    <label class="label label-success">{{ contador }}</label>
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a data-toggle="modal" href="#myModal">
                            <strong style="color : #ccf759">
                                Ver Cambios <i class="fa fa-heart" style="color: #dd1e00"></i>
                            </strong>
                        </a>
                    </li>
                    <li>
                        <a style="color: #ecb323">
                           Servidor de Mail : <strong style="color: {{ mail_.servidor.color }}">{{ mail_.servidor.nombre }}</strong>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'excel' %}" style="color: greenyellow"
                                data-toggle="tooltip" data-placement="bottom" title="Tocame :3">
                            Reporte <i class="fa fa-file-excel-o" style="color: #62c46c"></i>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Administrador <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'admin:index' %}">Ir Al administrador</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="row container-fluid">
        <div class="col-md-9">
            <table class="table table-bordered table-hover table-striped table-responsive">
                <thead>
                <tr>
                    <th class="text-center">id</th>
                    <th class="text-center">nombre</th>
                    <th class="text-center">cedula</th>
                    <th class="text-center">correo</th>
                    <th class="text-center">Codigo</th>
                    <th class="text-center">acciones</th>
                </tr>
                </thead>
                <tbody>
                {% for votante in votantes %}
                    <tr>
                        <td class="text-center">{{ votante.id }}</td>
                        <td class="text-center">{{ votante.nombre }}</td>
                        <td class="text-center">{{ votante.cedula }}</td>
                        <td class="text-center" style="color: {{ votante.servidor.color }}">
                            <strong>
                                {{ votante.mail }}
                            </strong>
                        </td>
                        <td class="text-center">
                            {% if votante.codigo %}
                                <strong style="color: #2fae3d">{{ votante.codigo }}</strong>
                            {% else %}
                                <i class="fa fa-close" style="color: red"></i>
                            {% endif %}
                        </td>
                        <td align="center">
                            <a href="{{ votante.servidor.url_email_server }}{{ votante.nombre }}-{{ votante.cedula }}"
                               class="btn btn-success btn-xs" style="background-color: {{ votante.servidor.color }}; border-color: {{ votante.servidor.color }};"
                               data-toggle="tooltip" data-placement="top" title="Revisar Correo ! : {{ votante.servidor.nombre }}"
                               target="_blank">
                                <i class="fa fa-envelope-o"></i>
                            </a>
                            <a href="{% url 'editar' votante.id %}"
                               class="btn btn-primary btn-xs" style="background-color: #ff6939; border-color: #ff6939"
                               data-toggle="tooltip" data-placement="top" title="Editar">
                                <i class="fa fa-pencil"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <div class="container-fluid" style="padding-top: 15%">
                <form method="post" class="panel panel-danger">
                    {% csrf_token %}
                    <div class="panel-heading">
                        <h2 class="text-center">:: Registrar :: </h2>
                    </div>
                    <div class="panel-body">
                        {% load widget_tweaks %}
                        {% for field in form %}
                            <div class="form-group">
                                <span style="color: red">
                                    {{ field.errors }}
                                </span>
                                {% render_field field class='form-control' placeholder=field.label %}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="panel-footer" align="center">
                        <button type="submit" class="btn btn-danger">
                            Guardar <i class="fa fa-save"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Lista de Cambios</h4>
      </div>
      <div class="modal-body">
        <ul>
            <li>
                <strong>
                    Email Rapido MultiServidor <i class="fa fa-cubes" style="color: #2e6da4"></i>
                </strong>
                <p>
                    la app permite multiples cambios de servidor de email y ahora el boton
                    de <strong>revisar email</strong> se adapta al servidor al que pertenece
                    el correo creado.
                </p>
            </li>
            <li>
                <strong>Visualizacion del servidor actual de correo.</strong>
                <p>
                    Esta opcion permite saber que servidor de correo electronico
                    esta siendo usado, para este caso el servidor <strong style="color: limegreen;">activo</strong> :
                    <strong style="color: {{ mail_.servidor.color }}">{{ mail_.servidor.nombre }}</strong>
                </p>
            </li>
            <li>
                <strong>
                    Servidores de Email Coloridos
                    <i class="fa fa-envelope-o" style="color: #44b900"></i>
                    <i class="fa fa-envelope-o" style="color: darkorange"></i>
                    <i class="fa fa-envelope-o" style="color: #00bbff"></i>
                </strong>
                <p>
                    Cada servidor de email tiene su color, y los correos se ven del color
                    del servidor al que pertenecen.
                    ejemplo :
                    <ul>
                        <li style="color : blueviolet">
                           yopmail : <strong>correo@yopmail.com</strong>
                        </li>
                        <li style="color : #083ce2">
                           Mailinator : <strong>correo@mailinator.com</strong>
                        </li>
                    </ul>
                </p>
            </li>
            <li>
                <strong>Reportes en <span style="color: green">Excel</span> </strong>
                <p>
                    Como se sabe, es dificil registrar en excel tanta informacion de los votantes
                    entonces con solo tocar un boton todos los votantes de esta lista se iran a un
                    documento de <strong>excel!</strong> <i class="fa fa-heart" style="color: red"></i>
                </p>
            </li>
            <li>
                <strong>Contador de Votos mas pequeño.</strong>
                <p>esta ubicado de la parte superior izquierda para ver cuantas
                personas ya han sido registradas! </p>
            </li>
            <li>
                <h3 class="text-center">
                    este producto es una idea de
                    <strong> <a href="http://www.facebook.com/0sw4l" style="color: #204d74" target="_blank">0sw4l</a>
                        <i class="fa fa-bug" style="color: #4aff05;"></i>
                    </strong>
                </h3>
            </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">
            Entendido Maestro <i class="fa fa-heart"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
</body>
</html>